<h2>Hashtags</h2>

<ul>
<% @hashtags.each do |hashtag| %>
  <li><%= link_to hashtag.name, hashtag_path(hashtag) %> used in
    <ul>
      <% hashtag.battles.each do |battle| %>
        <li><%= link_to "Battle #{battle.id}", battle_path(battle) %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>