<h2>Your Hashtags</h2>

<ul>
  <% @hashtags.each do |hashtag| %>
    <li><%= link_to hashtag.name, hashtag_path(hashtag) %> used in
      <ul>
        <% hashtag.battles.each do |battle| %>
          <li><%= link_to battle.display_name, battle_path(battle) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>