<h2>Displaying Battle <%= @battle.display_name %></h2>

<%= render partial: "pie_chart", locals: { battle: @battle } %>

<%= render partial: "stacked_line_chart", locals: { battle: @battle } %>

<script>
  $('[data-toggle="tooltip"]').tooltip(); 
  $(document).ready(function () {
      <% @battle.hashtags.each do |hashtag| %>
        $.ajax({
          url: "<%= url_for update_count_path(hashtag) %>"
        })
      <% end %>
  })
</script>
