
<h1>Welcome to Hashtag Battle - Hivebrite POC</h1>
<% if @user %>
  Hi <%= @user.mail %> !
<% else %>
  <%= link_to('Sign in via Twitter', twitter_auth_path) %>
<% end %>


<%= link_to "Create a battle", new_battle_path %>


<% if @random_battle %>
  <%= render partial: "battle/pie_chart", locals: { battle: @random_battle } %>
<% end %>
