---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&max_id&q=%23qwerty&since=2016-12-27&until=2016-12-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="eYrDjV5OuUfE7X4flIqFIhH6A", oauth_nonce="0752bb12971d5ea2bf757cff18e42efe",
        oauth_signature="MgPfEtrAkF%2FNhM3Xt35271W7Dgs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1482811062", oauth_token="3230556507-lxKna7ogdDQaA94O5Kos7qSg6KcnolOc2ChJJP9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 27 Dec 2016 03:57:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0b0b3a26530953637202dc470b5816be
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '165'
      X-Rate-Limit-Reset:
      - '1482811591'
      X-Response-Time:
      - '167'
      X-Transaction:
      - '008848c8005686e0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Tue Dec 27 03:56:51 +0000 2016","id":813594467437461506,"id_str":"813594467437461506","text":"Finished!
        Elliot and Qwerty (@whoismrrobot @ItsRamiMalek) #mrrobot #elliotalderson #ramimalek
        #qwerty #thatshirttho https:\/\/t.co\/pk0FGCRYtn","truncated":false,"entities":{"hashtags":[{"text":"mrrobot","indices":[58,66]},{"text":"elliotalderson","indices":[67,82]},{"text":"ramimalek","indices":[83,93]},{"text":"qwerty","indices":[94,101]},{"text":"thatshirttho","indices":[102,115]}],"symbols":[],"user_mentions":[{"screen_name":"whoismrrobot","name":"Mr.
        Robot","id":3066551830,"id_str":"3066551830","indices":[29,42]},{"screen_name":"ItsRamiMalek","name":"Rami
        Malek","id":763440894,"id_str":"763440894","indices":[43,56]}],"urls":[],"media":[{"id":813594462572056576,"id_str":"813594462572056576","indices":[116,139],"media_url":"http:\/\/pbs.twimg.com\/media\/C0p32mTVEAA8PH9.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C0p32mTVEAA8PH9.jpg","url":"https:\/\/t.co\/pk0FGCRYtn","display_url":"pic.twitter.com\/pk0FGCRYtn","expanded_url":"https:\/\/twitter.com\/ardnaxela0502\/status\/813594467437461506\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":489,"h":680,"resize":"fit"},"large":{"w":1112,"h":1547,"resize":"fit"},"medium":{"w":863,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":813594462572056576,"id_str":"813594462572056576","indices":[116,139],"media_url":"http:\/\/pbs.twimg.com\/media\/C0p32mTVEAA8PH9.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C0p32mTVEAA8PH9.jpg","url":"https:\/\/t.co\/pk0FGCRYtn","display_url":"pic.twitter.com\/pk0FGCRYtn","expanded_url":"https:\/\/twitter.com\/ardnaxela0502\/status\/813594467437461506\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":489,"h":680,"resize":"fit"},"large":{"w":1112,"h":1547,"resize":"fit"},"medium":{"w":863,"h":1200,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":22575053,"id_str":"22575053","name":"Alex
        Olivares","screen_name":"ardnaxela0502","location":"Pasadena, CA","description":"art
        major who draws cartoons hoping to turn it into a career","url":"https:\/\/t.co\/Ec5kekzHwO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Ec5kekzHwO","expanded_url":"http:\/\/seravilox.com","display_url":"seravilox.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":120,"friends_count":238,"listed_count":0,"created_at":"Tue
        Mar 03 02:56:45 +0000 2009","favourites_count":155,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":8225,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000093517908\/e9d7d1570876e90d6c8076cf9d82a885.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000093517908\/e9d7d1570876e90d6c8076cf9d82a885.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/755285113018028032\/g__yTEsM_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/755285113018028032\/g__yTEsM_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/22575053\/1468908980","profile_link_color":"57899E","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"302203","profile_text_color":"4586D1","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Dec 27 02:11:49 +0000 2016","id":813568034430418944,"id_str":"813568034430418944","text":"RT
        @Pilos2014: Oiga Patr\u00f3n, queremos hacer huelga, pero que si usted no
        quiere pues nada, no la hacemos.\n\nEsperamos su permiso...\n\n#qwerty\u2026","truncated":false,"entities":{"hashtags":[{"text":"qwerty","indices":[131,138]}],"symbols":[],"user_mentions":[{"screen_name":"Pilos2014","name":"Guifr\u00e9
        el Pil\u00f3s","id":2302662[...]
